table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
}

td {
    border-bottom: 1px solid rgb(212, 212, 212);
    padding: 10px;
    text-align: center;
}

th {
    border-bottom: 1px solid rgb(212, 212, 212);
    border-top: 1px solid rgb(212, 212, 212);
    padding: 10px;
    text-align: center;
    background-color: #f8f8f8;
}

.fundo {
    background-color: #f0f0f0;
}

.primeiro {
    color: blue;
}

.segundo {
    color: rgb(173, 216, 230);
}

.sexto {
    color: green;
}

.ultimo {
    color: red;
}

.tamanho {
    width: 8px;
    height: 8px;
}

.alinhar {
    text-align: left;
}

.alinharsub {
    text-align: right;
    font-size: 0.225cm;
}

.colunaDireita {
    border-right: 1px solid #444;
}

.titulo {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 130%;
    background-color: rgb(65, 230, 65);
    max-width: 80%;
    margin-left: 10%;

}

.nego {
    font-weight: bold;
}

.bolas{
    font-size: 0.23cm;
}