table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
}


td {
    border-bottom: 1px solid rgb(212, 212, 212);
    padding: 10px;
    text-align: center;
}

th {
    border-bottom: 1px solid rgb(212, 212, 212);
    border-top: 1px solid rgb(212, 212, 212);;
    padding: 10px;
    text-align: center;
    background-color: #f8f8f8;
}

.fundo {
    background-color: #f0f0f0;
}

.primeiro {
    color: blue;
}

.segundo {
    color: rgb(173, 216, 230);
}

.sexto {
    color: green;
}

.ultimo {
    color: red;
}

.tamanho {
    width: 8px;
    height: 8px;
}

.alinhar {
    text-align: left;
}

.alinharsub {
    text-align: right;
    font-size: 0.225cm;
}

/* .td .colunaDireita{
 border-right: rgb(218, 23, 23);   
} */